<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
   
    <div class="About content">
        <h2>About Us !</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati earum laudantium perferendis consequuntur fugit corporis facere aliquam ad! Ipsa corporis praesentium nisi suscipit sunt molestias iusto esse dignissimos ullam, sequi ut assumenda illo eaque iure, amet laborum. Perspiciatis, nemo culpa? Dicta in sunt consequuntur inventore placeat suscipit maiores dignissimos doloremque!</p>
    </div>
</body>
<%- include("./partials/footer.ejs") %>
</html>