<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Nature Blog ! <%= title %></title>
</head>
<body>
    <nav>
        <%const name = "test" %>
        <div class="site title">
            <p><%= name %></p>
            <a href="/">Nature Blog !</a>
            <P>Description of nature </P>
        </div>
        <ul>
            <li><a href="/"> Blogs</a></li>
            <li><a href="/about"> About </a></li>
            <li><a href="/blogs/create"> New Blog</a></li>
        </ul>
    </nav>
    <div class="blogs content">
        <h2>All Blogs</h2>
    </div>
</body>
</html>